// main: style.less
/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@brand-primary:         #0298d8;
@brand-success:         #1b326d;
@brand-info:            #d7d4d5;
@brand-warning:         #E60203;
@link-hover-decoration: none;
body {
  color: #696969;
  font-size: 14px;
  line-height: 170%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}
h1, h2, h3 {
  font-family: "Titillium Web";
  font-weight: 700;
  margin-bottom: 20px;
}
header {
  font-family: "Titillium Web";
}
.btn {
  background-color: @brand-primary;
  a {
    color: #fff;
  }
}
p {
  margin-bottom: 25px;
}
.glyphicon {
  color: @brand-primary;
}
.btn-primary {
  border-color: @brand-primary;
}

/* HEADER */
@navbar-default-color:             #ddd;
@navbar-default-bg:                #fff;
@navbar-default-border:            @navbar-default-bg;
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          @brand-success;
@navbar-default-link-active-color:         @brand-success;
@navbar-default-link-active-bg:            transparent;
.navbar {
  margin-bottom: 0;
}
.navbar-header {
    width: 100%;
    background-color: @brand-primary;
}
.navbar-mobile-header {
  background-color: @brand-primary;
  @media screen and (min-width: 768px) {
    background-color: #fff;
  }
}
.navbar-default {
  border-color: @brand-primary;
  .navbar-toggle {
    border-color: #fff;
    background-color: @brand-primary;
    margin-left: 15px;
    .icon-bar {
    background-color: #fff;
    }
  }
  .navbar-toggle:hover,
  .navbar-toggle:active {
    background-color: #0078ac;
  }
  .navbar-form {
    border-color: @brand-primary;
    padding: 0 20px;
  }
}
.navbar-nav {
  text-align: center;
  float: none;
  li {
    float: none;
    @media screen and (min-width: 768px) {
      display: inline-block;
      a {
        font-size: 17px;
        text-transform: uppercase;
      }
    }
  }
  .open .dropdown-menu {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
.navbar-collapse {
  border-color: @brand-primary;
  border-top: none;
}
ul.secondary {
  float: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.logo {
  img {
    height: 36px;
  }
  @media screen and (min-width: 768px) {
    padding: 10px 0;
    img {
      height: 100%;
    }
  }
}
.region-navigation {
  display: inline-block;
  float: right;
  #block-block-16,
  #block-block-17 {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      float: right;
      padding: 32px 20px 32px 0;
      a {
        color: #696969;
        text-transform: uppercase;
        font-size: 0.8571em; /*12px*/
        font-weight: 600;
      }
      a:hover {
        color: @brand-primary;
      }
    }
  }
  #block-block-8 {
    display: inline-block;
    padding-top: 10px;
    a {
      text-transform: uppercase;
      font-size: 0.8571em; /*12px*/
    }
   .btn:hover {
    background-color: #0078ac;
    }
    @media screen and (min-width: 768px) {
      // float: right;
      padding: 28px 10px 28px 0;
    }
  }
  #block-lang-dropdown-language {
    display: inline-block;
    float: right;
    padding-top: 8px;
    @media screen and (min-width: 768px) {
      float: none;
      padding: 20px 0 10px 0;
    }
  }
}
.language-link {
  display: none;
}
// #nice-menu-2,
// #block-nice-menus-2,
// .region-navigation section,
// #block-block-8 {
//   display: inline-block;
// }
// #block-block-8 {
//   background-color: #fff;
//   float: right;
// }
.page-header {
  border-bottom: none;
  margin-top: 30px;
}
.main-container .region-content {
  margin-bottom: 20px;
}
/* PREFOOTER */
.prefooter {
  background-color: #f5f5f5;
  display: block;
}
.region-prefooter {
  h2 {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0;
    border-bottom: 3px solid @brand-primary;
  }
  a {
    font-family: "Titillium Web";
  }
  .block-panels-mini .panels-flexible-region {
    padding: 0 10px;
  }
  .panels-bootstrap-column {
    margin-bottom: 40px;
}
  // .panels-flexible-region-16-sales,
  // .panels-flexible-region-16-log_in,
  // .panels-flexible-region-16-center {
  //   border-right: 3px solid #fff;
  // }
}

#mini-panel-quicklinks {
  padding: 40px 20px;
  a {
    font-size: 1.2em;
    font-weight: bold;
  }
  p {
    margin-bottom: 10px;
  }
}

/* FOOTER */
.footer {
  background-color: @brand-primary;
  color: #fff;
  margin-top: 0;
  a {
    color: #fff;
  }
}

// /* SIDEBAR */
// .region-sidebar-first .block {
//     display: inline-block;
//     width: 100%;
//     .well;
//     border-top: 3px solid @brand-primary;
// }

/* Homepage */
#page-header {
  margin-bottom: 40px;
  .header-background,
  .header-frost {
  // margin-top:-13px;
  margin-bottom:15px;
  background-size: cover;
  background-position-y: center;
  padding-top:13px;
  height: 500px;
  width: 100%;
  }
  .header-background {
    background-image: url('../images/plus8background.jpg');
  }
  .header-frost {
    background-color: #eee;
    opacity: 0.7;
    position: absolute;
    top: 54px;
    @media screen and (min-width: 768px) {
      top: 141px;
    }
  }
  .container {
    margin-top: -470px;
    height: 450px;
    #block-block-9 {
      font-weight: 600;
      p {
        font-size: 1.3em;
        text-shadow: 2px 2px 15px #fff;
        // font-family: "Helvetica Neue";
      }
      h2 {
        text-shadow: 2px 2px 15px #fff;
      }
      @media (min-width: @screen-lg-min) {
        padding: 0 200px;
      }
    }
  }
}
.logged-in #page-header .header-frost {
  top: 84px;
  @media screen and (min-width: 768px) {
    top: 171px;
  }
}
.main-container {
  margin-bottom: 30px;
}
.front {
  .main-container .panels-bootstrap-bootstrap_2_columns {
    padding-bottom: 20px;
  }
  .submitted-by {
    display: none;
  }
  .field-name-field-image img {
    padding-top: 20px;
  }
  .field-name-body {
    a {
      font-family: "Titillium Web";
      font-size: 1.2em;
      font-weight: bold;
    }
    h3 {
      margin-top: 30px;
    }
    .readmore {
      margin-top: -15px;
    }
  }
}

aside {
  background-color: #f5f5f5;
}
.region-sidebar-second {
  padding: 20px 0;
  h2.block-title {
    padding-bottom: 20px;
    border-bottom: 3px solid @brand-primary;
    text-align: center;
  }
  .views-field-title-field-et h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    a {
      color: #696969;
    }
    a:hover {
      color: @brand-primary;
    }
  }
  div.views-row:hover a {
    color: @brand-primary;
  }
}

/*Landing pages*/
.page-products .main-container {
    margin-top: -13px;
    margin-bottom: 0;
    padding-top: 13px;
    h2 {
      padding-bottom: 20px;
      margin-bottom: 0;
      border-bottom: 3px solid @brand-primary;
      text-align: center;
    }
    .views-field-field-image .img-rounded {
      border-radius: none;
    }
}
.page-nyheter, .page-nyheder, .page-news {
  .views-field-field-image {
    // border-radius: 10px 10px 0 0;
    float: left;
    display: inline-block;
    margin-right: 20px;
    img {
      margin-bottom: 20px;
    }
  }
  .views-row {
    min-height: 370px;
    margin-bottom: 20px;
    position: relative;
  }
  .main-container .row {
    margin-bottom: 30px;
    .views-field-view-node {
      padding-top: 20px;
      a {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}
.submitted-by, .views-field-created {
  color: @brand-info;
}

/* Other pages */
.node-type-article img {
  float: right;
  margin-left: 20px;
}

// .region-prefooter #panel-bootstrap-region-right {
//   margin-top: 10px;
// }
// .view-aktuellt .carousel {
//   padding-top: 15px;
// }
// .main-container img,
// .carousel-control {
//   .img-rounded;
//   .img-responsive;
// }
// .main-container .block-block img {
//   .center-block;
// }
// .main-container .block-block p {
//     .text-center;
// }
// .view-hp-carousel .view-footer .lead {
//   font-weight: 500;
//   text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
// }

//
.views-bootstrap-grid-plugin-style .col {
  padding-bottom: 20px;
}
.field-name-field-image img {
  margin: auto;
  padding-top: 20px;
  // border-radius: 6px;
  @media (min-width: @screen-sm-min) {
    padding-top: 0;
  }
}
